
@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: currentColor;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}

/* Pillar Animation Styles */
.pillar-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90vh;
}

.pillar-track {
  display: flex;
  width: calc(200% + 2 * 33.33%); /* For seamless loop with 3 visible */
  transition: transform 1s ease; /* Smooth transition for shifting */
}

.pillar-item {
  flex: 0 0 33.33%; /* Each pillar takes 33.33% width for 3 visible */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  height: auto;
  transition: all 1s ease; /* Smooth transition for effects */
}

.pillar-item.middle {
  filter: brightness(1.2) contrast(1.1);
  transform: scale(1.5) translateY(-25%);
  z-index: 10;
}

.pillar-item.side {
  filter: brightness(0.3) contrast(0.8);
  opacity: 0.6;
  transform: scale(0.8);
  z-index: 5;
}

.pillar-title {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
  font-family: 'Historic', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

.pillar-item.middle .pillar-title {
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.534), 0 0 25px rgba(255, 255, 255, 0.39);
  font-size: 3rem;
}
.pillar-item.side .pillar-title {
  text-shadow: 0 0 50px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 255, 255, 0.8);
}

.pillar-link {
  text-decoration: none;
}
.pillar-image{
  filter: drop-shadow(0 0 5px rgba(255, 217, 0, 0.664)) drop-shadow(0 0 10px rgba(255, 235, 124, 0.459));
  width: auto;
  height: 17.5rem;
  transition: filter 0.5s ease;
}
