
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full min-h-screen bg-gray-900 text-white;
    scroll-behavior: smooth;
  }
  body {
    @apply flex flex-col;
  }
  main {
    @apply flex-grow p-4 bg-gray-50;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: currentColor gray-800;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: currentColor;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}

