@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Historic';
  src: url('./public/fonts/Historic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    margin: 0;
  }
}
